.login {
    background-image: url('../../util/desktop-1600x900.jpg');
    background-size: 100vw 100vh;
    height:100%;
    width: 100%;
    position: absolute;
    top:0;
    font-size: 18px;
}

.login .header {
    background-color: rgb(110, 162, 204);
    position: absolute;
    top: 0;
    width: 100%;
    border-bottom: 10px solid var(--tomatoRed) ;
    font-size: 1.5em;
    font-family: 'Dancing Script', cursive;
    padding: 0;
}

.login-form  {
    position:absolute;
    top: 30%;
    left: 40%;
    background-color: rgba(255, 255, 255, 0.8);
    width:min-content;
    padding: 5vh 5vw;
    border-radius: 15px;
    box-shadow: -5px 15px 10px rgba(0, 0, 0,0.6);
}

.login .large {
    font-size: 2em;
}

.login input {
    font-size: 1.75em;
    margin-top: 10px;
    border-radius: 5px;
}

.login .remember-box {
    float: left;
}
.login .remember-label {
    float: left;
    margin-top: 5px;
}
.login .forgot-password {
    float: right;
    border: none;
    background-color: transparent;
    margin-top: 5px;
}
.login .forgot-password:hover {
    text-decoration: underline;
    cursor: pointer;
}

.login .error {
    color: var(--tomatoRed);
    width: 100%;
    float: left;
}

.login .login-submit {
    font-size: 1.75em;
    border-radius: 5px;
    width: 100%;
}

.login .login-type-btn {
    border: none;
    background-color: transparent;
    font-size: 1em;
    font-weight: bold;
    text-decoration: underline;
}
.login .login-type-btn:hover {
    cursor: pointer;
}

.login .loading-icon {
    height: 110px;
    width: 110px;
    position: absolute;
    bottom:2%;
    right: 30%;
}

@media only screen and (max-width: 600px) {
    .login {
        background-image: none;
        background-color: whitesmoke;
        font-size: 12px;
    }

    .login .header {
        height: 135px;
        padding-top: 0px;
        font-size: 2.5em;
    }

    .login-form  {
        top: 30%;
        left: 10%;
    }
}
