.home {
    padding-bottom: 100px;
    margin: 0 5vw;
}

.home .finished {
    border-top: 5px solid var(--tomatoRed);
    min-height: 90vh;
}

.home .preview-heading {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}
.home .preview-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.home .new-recipe-btn {
    height: min-content;
    position: absolute;
    right: 135px;
    font-size: 1.25em;
    box-shadow: 0px 1px rgb(0, 0, 0);
}
.home .new-recipe-btn:hover {
    box-shadow: none;
}

.home .loading-img {
    position: absolute;
    right: 360px;
    width: 170px;
}

.home .search-bar {
    position: absolute;
    right: 135px;
    font-size: 1.25em;
    width: 280px;
}

@media only screen and (max-width: 600px) {
    .in-progress {
        height: 45vh;
        width: 95vw;
    }
    .home .preview-heading {
        justify-content: space-evenly;
    }
    .home .new-recipe-btn {
        position: unset;
    }
    .home .finished .preview-heading{
        flex-direction: column;
    }
    .home .search-bar {
        position: unset;
    }

    .in-progress .image-container {
        position: absolute;
        height: 100%;
        width: 100%;
    }

}
