.recipe-preview {
    background-color: white;
    position: relative;
    width: 400px;
    padding-bottom: 1vh;
    margin: 10px 10px;
    font-size: 10px;
    color: black;
    text-align: left;
    border-radius: 10px;
    box-shadow: -3px 10px 10px rgba(0, 0, 0,0.4);
}
.recipe-preview:hover {
    color: red;
    background-color: var(--lightSteelBlue);
}

a:-webkit-any-link {
    text-decoration: none;
    cursor: pointer;
}

.recipe-preview .image {
    width: inherit;
    height: 350px;
    border-radius: inherit;
}
.recipe-preview img {
    height: 100%;
    width: 100%;
    border-radius: inherit;
}

.recipe-preview .info {
    padding-left: 1vw;
}
.recipe-preview .cook-serve {
    display: flex;
    margin-top: 1em;
}
.recipe-preview .tags {
    display: flex;
    margin-top: 1em;
}

.recipe-preview .title{
    font-size: 2em;
    font-weight: bold;
    color: inherit;
}
.recipe-preview p {
    font-size: 1.25em;
    margin:0;
    margin-right: 1vw;
    color: black;
}
