.recipe-preview {
    position: relative;
    background-color: antiquewhite;
    border-bottom: 2px solid rgb(39, 39, 39);
    width: 25vw;
    height: 50vh;
    padding-bottom: 1vh;
    margin: 10px 10px;
    font-size: 10px;
    text-align: left;
}

a:-webkit-any-link {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.recipe-preview .image {
    width: inherit;
    height: 70%;
}
.recipe-preview img {
    height: 100%;
    width: 100%;
}

.recipe-preview .info {
    padding-left: 1vw;
}
.recipe-preview .title {
    font-size: 2em;
    font-weight: bold;
}
.recipe-preview p {
    font-size: 1.25em;
    margin-right: 1vw;
}
