.recipe-preview {
    position: relative;
    width: 400px;
    padding-bottom: 1vh;
    margin: 10px 10px;
    font-size: 10px;
    color: black;
    text-align: left;
}
.recipe-preview:hover {
    color: red;
    background-color: var(--lightSteelBlue);
}


a:-webkit-any-link {
    text-decoration: none;
    cursor: pointer;
}


.recipe-preview .image {
    width: inherit;
    height: 350px;
}
.recipe-preview img {
    height: 100%;
    width: 100%;
}

.recipe-preview .info {
    padding-left: 1vw;
}
.recipe-preview .title{
    font-size: 2em;
    font-weight: bold;
    color: inherit;
}
.recipe-preview p {
    font-size: 1.25em;
    margin-right: 1vw;
    color: black;
}
