.in-progress {
    position: relative;
    display: flex;
    height: 50vh;
    width: 75vw;
    border: 2px solid transparent;
    background-color: var(--lightSteelBlue);
    color: black;
}

.in-progress:hover {
    cursor: pointer;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    border-right: 2px solid rgba(0, 0, 0, 0.5);
    color: var(--tomatoRed);
}

.in-progress .image-container {
    height: inherit;
    width: 40%;
}
.in-progress img {
    height: 100%;
    width: 100%;
}

.in-progress .info {
    height: inherit;
    width: 60%;
    padding: 0 1%;
}

.in-progress .about {
    height:30%;
}

.in-progress .directions {
    height:65%;
    display:flex;
    justify-content: space-evenly;
    color: black;

}
.in-progress .list {
    width: 45%;
    height: 100%;
}
.in-progress  h2 {
    font-size: 1.75em;
    color: inherit;
}

.in-progress h3 {
    font-size: 1.5em;
    height: 1.5em;
    text-decoration: underline;
}
.in-progress p {
    color: black;
}
.in-progress ul, .in-progress ol {
    font-size: 1.25em;
    overflow-y: scroll;
    height: 70%;
}
.in-progress li {
    padding: 5px 10px;
    text-align: left;
}