.recipe-instructions {
    background-color: whitesmoke;
    position: relative;
    display: flex;
    width: 100%;
    font-size: 1vw;
    padding-bottom: 20px;
    white-space: normal;
    text-align: center;
    box-shadow: -5px 10px rgba(0, 0, 0,0.2);
}

.recipe-instructions .ingredients {
    width: 40%;
}
.recipe-instructions .steps {
    width: 60%;
}

.recipe-instructions .steps .step-li {
    display: flex;
    width: 100%;
}
.recipe-instructions .display li {
    font-size: 1.25em;
    text-align: left;
    margin-bottom: 1vh;
}

.recipe-instructions h3 {
    font-size: 1.5em;
    margin-top: 3vh;
    text-decoration: underline;
}

/*    Editable     */

.recipe-instructions textarea {
    background-color: transparent;
    width: 80%;
    font-size: 1em;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    margin: 2vh 1vw;
    overflow:hidden;
    resize:vertical;
    margin-top: 1vh;
}

.recipe-instructions li {
    margin: 0 2vw;
}

.recipe-instructions input {
    background-color: transparent;
    margin-top: 3vh;
    font-size: 1.25em;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    width: 70%;
}

.recipe-instructions .removeItem {
    background-color: transparent;
    border: none;
    width: 30px;
    font-size: 2em;
    color:red;
    margin: 0;
}
.recipe-instructions .addItem {
    background-color: transparent;
    color: gray;
    border: none;
    font-size: 2em;
    padding-top: 1vh;
    width: 80%;
}
.recipe-instructions .addItem:hover {
    color:black;
    cursor: pointer;
}

.recipe-instructions .addedItem {
    color: var(--lightGreen);
}
.recipe-instructions .removedItem {
    color: var(--tomatoRed);
}
.recipe-instructions .removedHeader {
    text-align: left;
}