.recipe-tile {
    display: flex;
    width: 75vw;
    height: 50vh;
    padding-bottom: 1vh;
    font-size: 1vw;
    text-align: left;
}

.recipe-tile .image {
    width: 30%;
}
.recipe-tile img {
    height: 100%;
    width: 100%;
}

.recipe-tile .info {
    position: relative;
    padding-left: 2vw;
    width: 70%;
}

.recipe-tile .details {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    gap: 10px;
}

/*    Editable     */

.recipe-tile .title {
    font-size: 2em;
    font-weight: bold;
}

.recipe-tile textarea {
    background-color: var(--lightSteelBlue);
    width: 95%;
    margin-top: 10px;
    font-size: 1.25em;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    overflow:hidden;
    resize: none;
    
}

.recipe-tile input {
    background-color: var(--lightSteelBlue);
    width: 100px;
    padding-left: 1vw;
    font-size: 1em;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.recipe-tile label {
    font-size: 1em;
    width: max-content;
}
.recipe-tile p{
    font-size: 1em;
    margin: 15px 10px;
}

.recipe-tile .tags {
    display: flex;
    width: 25vw;
    align-items: center;
}
.recipe-tile button {
    font-size: inherit;
}