:root {
  --saddleBrown: #843619;
  --peru: #B87730;
  --darkSlateGray: #1B2625;
  --lightGray: #DAD0CE;
  --slateGray: #748991;

  --tomatoRed: #F64900;
  --peru: #B87730;
  --darkOliveGreen: #262416;
  --lightSteelBlue: #ebebeb;
  --lightGreen: #90B274;
}

.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
  background-color: whitesmoke;
  min-height: 100vh;
}


.test {
  display:flex;
}

button {
  background: white;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  
  font-size: 1em;
}
button:hover {
  color: var(--tomatoRed);
}
button.tag:hover {
  color: black;
}

::-webkit-scrollbar {
  width: 8px;
  height: 10px;

}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}