.header {
    overflow: hidden;
    padding: 20px 10px;
    background-color: var(--lightSteelBlue);
    border-bottom: 10px solid var(--tomatoRed);
    z-index: 99;
  }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 30px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header a.logo {
    font-size: 40px;
    font-weight: bold;
  }
  
  .header-right {
    float: right;
    margin-right: 50px;
    display: flex;
    gap: 10px;
  }

  .header img {
    width: 60px;
    border-radius: 30px;
  }
  .header img:hover {
    cursor: pointer;
    background-color: var(--lightGreen);
  }