.options-card {
    background-color: inherit;
    color: rgb(66, 66, 66);
    padding: 10px 15px;
    text-align: left;
    font-size: 1.25em;
}
.options-card p {
    margin: 0;
    padding: 2px 0;
}
.options-card p:hover {
    color: black;
}
.options-card .logout {
    margin-top: 10px;
    border-top: 2px solid black;
}
