.in-progress {
    background-color: white;
    position: relative;
    display: flex;
    height: 50vh;
    width: 75vw;
    color: black;
    border-radius: 10px;
    box-shadow: -3px 8px 10px rgba(0, 0, 0,0.4);
    margin-bottom: 20px;
}

.in-progress:hover {
    cursor: pointer;
    color: var(--tomatoRed);
    background-color: var(--lightSteelBlue);
}

.in-progress .image-container {
    height: inherit;
    width: 40%;
    border-radius: inherit;
}
.in-progress img {
    height: 100%;
    width: 100%;
    border-radius: inherit;
}

.in-progress .info {
    height: inherit;
    width: 60%;
    padding: 10px 1%;
}

.in-progress .about {
    height:30%;
    overflow: hidden;
}
.in-progress .title {
    word-wrap: break-word;
}
.in-progress .description {
    word-wrap: break-word;
}

.in-progress .directions {
    height:70%;
    display:flex;
    justify-content: space-evenly;
    color: black;
}
.in-progress .list {
    width: 45%;
    height: 100%;
}
.in-progress  h2 {
    font-size: 1.75em;
    color: inherit;
    margin:0;
}

.in-progress h3 {
    font-size: 1.5em;
    text-decoration: underline;
}
.in-progress p {
    color: black;
}
.in-progress ul, .in-progress ol {
    background-color: var(--lightSteelBlue);
    border-radius: 10px;
    overflow-y: scroll;
    overscroll-behavior: contain;
    height: 70%;
    font-size: 1.25em;
    
}
.in-progress li {
    padding: 5px 10px;
    text-align: left;
}

@media only screen and (max-width: 600px) {
    .in-progress {
        height: 45vh;
        width: 95vw;
        font-size: 15px;
    }
    .in-progress .image-container {
        position: absolute;
        height: 100%;
        width: 100%;
    }
    .in-progress .info {
        width: inherit;
        height: 100%;
        padding: 10px 1%;
    }
    .in-progress .about {
        height:30%;
        overflow:scroll;
    }
    .in-progress .directions {
        height:65%;
    }

}