.edit-recipe {
    position: relative;
    justify-content: center;
    margin: 1vh 10%;
    padding-bottom: 100px;
}

.edit-recipe .buttons {
    position: absolute;
    top: 0;
    right: 0;
    display:flex;
    flex-direction: column;
    gap: 10px;
    width:max-content;
    z-index: 2;
}
.edit-recipe .buttons button {
    width: 100%;
    font-size: 1.5em;
}

.edit-recipe .instructions-container {
    background-color: aqua;
    width: 80%;
    margin: 20px 10%;
}
