.edit-recipe {
    position: relative;
    display:flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1vh;
}
.edit-recipe .back-btn {
    position: absolute;
    top:50px;
    left:40px;
    border-radius: 70px;
}
.edit-recipe .back-btn:hover {
    background-color: var(--lightSteelBlue);
}

.edit-recipe .buttons {
    position: absolute;
    top: 0;
    right: 6vw;
    display:flex;
    flex-direction: column;
    gap: 10px;
    width:max-content;
    z-index: 2;
}
.edit-recipe .buttons button {
    width: 100%;
    font-size: 1.5em;
}

.edit-recipe .instructions-container {
    width: 70%;
    margin-bottom: 10vh;
    padding: 10px 10%;
    border-top: 5px solid var(--tomatoRed);
}
